body {
    background-color: gray;
    background-image: url(/imgs/fondo-plano-celebracion-independencia-mexico_52683-88679.avif);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-style: italic;   
    text-shadow: 
        -1px -1px 0 #000, 
         1px -1px 0 #000,  
        -1px  1px 0 #000,  
         1px  1px 0 #000;  
}
div.container {
    height: 100%;
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.575);
}
div.card {
    height: 20%;
    width: 11%;
}
img.img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
div.contenedorcartas {
    height: 300px;
    width: 200px;
    border: 1px solid black;
}